body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: lightskyblue;
  font-weight: normal;
}

.left {
  display: inline-block;
  width: 40%;
  text-align: right;
}

.right {
  display: inline-block;
  width: 55%;
}

.contact-list {
  list-style: none;
}

.contact-list li {
  padding: 40px 0;
}

a,
a:hover,
a:focus,
a:visited {
  color: lightskyblue;
  text-decoration: none;
}
