  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    height: 75px;
    background-color: rgb(40, 40, 40);
    grid-template: 1fr / 1fr 1fr;
  }

  .foot-left {
    grid-column: 1 / span 1;
    align-self: center;
    margin-left: 15px;
    color: lightskyblue;
    font-weight: bold;
  }

  .foot-right {
    grid-column: 2 / span 1;
    justify-self: right;
    margin-top: 5px;
    margin-right: 50px;
  }

  .sm-button {
    border-radius: 50%;
    margin: 10px;
  }

  .sm-button:hover {
    background-color: lightskyblue;
  }

  .sm-button:active {
    position: relative;
    top: 2px;
  }