.grid {
  display: grid;
  grid-template: 33% / repeat(3, 33%);
  grid-auto-rows: 33%;
  grid-gap: 20px 20px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  margin: 50px;
}

.grid img {
  padding: 20px 0;
  width: 100%;
}

h2 {
  text-align: center;
}

.project p {
  margin: 0;
}

.project {
  padding: 15px;
  border-radius: 5px;
}

.project:hover {
  background-color: #F5F5F5;
}

a:hover {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
