.left {
  display: inline-block;
  width: 40%;
  text-align: right;
}

.right {
  display: inline-block;
  width: 55%;
}

.contact-list {
  list-style: none;
}

.contact-list li {
  padding: 40px 20px;
}
