/*
  ==============================================
  Grid
  ==============================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/*
  ==============================================
  Home
  ==============================================
*/

.hero {
  background: #021723 url("../images/dsec-hero.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
            -ms-flex-pack: center;
          justify-content: center;
}

.hero-text h1 {
  color: #EDEDED;
  text-shadow: 2px 2px 4px #0a0a0a;
  font-size: 40px;
}

.about {
  margin-top: 40px;
  margin-bottom: 20px;
}

.profile {
  margin-bottom: 40px;
}

.profile p {
  margin: 0;
}

.member-img {
  float: left;
}

.member-info {
  float: right;
  width: 85%;
}

.sponsors {
  color: #EDEDED;
  background-color: #009999;
  padding: 10px 0;
}

.sponsors p {
  margin: 12px 28px;
}

