.content {
    padding-bottom: 20px;
}

.content img {
    display: block;
    margin: 0 auto;
}

.content ul {
    padding: 0 20px;
}

/* paragraph */
.reasons {
    list-style: disc;
    color: #009999;
}

.reasons li span {
    color: #888;
}
