html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  min-width: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: lightskyblue;
  font-weight: normal;
}

.left {
  display: inline-block;
  width: 40%;
  text-align: right;
}

.right {
  display: inline-block;
  width: 55%;
}

.contact-list {
  list-style: none;
}

.contact-list li {
  padding: 40px 0;
}

a,
a:hover,
a:focus,
a:visited {
  color: lightskyblue;
  text-decoration: none;
}

.break {
  width: 100%;
  height: 2%;
}

#container {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
}


#header {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 2% !important;
  background-color: #2F3030;
  width: 100%;
  min-width: 100%;
  height: 10%;
  z-index: 10;
}

#navbar {
  position: absolute;
  width:100%;
  min-width: 100%;
  height: 100%;
}

.menudiv {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  height: 100%;
}

ul { 
  position: relative;
  top: 0;
  margin: 0;
  padding:0;
  height: 100%;
  width: 100%;
  min-width: 100%;
  display: block;
}


.menudiv li{
        
        list-style: none;
        list-style-type: none;
        list-style-position: outside;
        list-style-image: initial;
        text-align: left;
        display:inline-block;
        box-sizing: border-box;
        margin: 0 !important;
        font-size: 1.125em;
        line-height: 1.4;
        height: 100%;
        padding: 3% 0 1% 10%;
        color: lightskyblue;
        font-weight: 500;
        width: 24.64%;
        min-width: 24.64%; 

    }

.content {
  z-index: 5;
}


#header li:hover{
      border-bottom: 4px solid lightskyblue;
      cursor: pointer;
      
    }

.currentpage {
  pointer-events: none;
  cursor: default;
  background-color: #132121;
}




footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    height: 75px;
    background-color: rgb(40, 40, 40);
    grid-template: 1fr / 1fr 1fr;
    z-index: 10;
  }

  .foot-left {
    grid-column: 1 / span 1;
    align-self: center;
    margin-left: 15px;
    color: lightskyblue;
    font-weight: bold;
  }

  .foot-right {
    grid-column: 2 / span 1;
    justify-self: right;
    margin-top: 5px;
    margin-right: 50px;
  }

  .sm-button {
    border-radius: 50%;
    margin: 10px;
  }

  .sm-button:hover {
    background-color: lightskyblue;
  }

  .sm-button:active {
    position: relative;
    top: 2px;
  }

